* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Abel', sans-serif;
}



.masthead {
    position: relative;
    width: 100%;
    height: 500px;
    min-height: 45rem;
    background: url("images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: scroll;
  }